.features-section {
  background: #222;

  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
    padding: 0 176px;
  }
}

.features-content-wrapper {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include media(desktop) {
    gap: 64px;
  }
}

.features-list-item {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row-reverse;
    align-items: center;

    &:nth-child(2) {
      flex-direction: row;
    }
  }
}

.features-item-text-wrapper {
  @include media(desktop) {
    max-width: 528px;
  }
}

.features-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #f2f2f2;

  @include media(desktop) {
    font-size: 18px;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 528px;
    margin: 0;
  }
}
