.gallery-section {
  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 1440px;
  }
}

.gallery-container {
  @include media(desktop) {
  }
}

.gallery-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: start;
    gap: 32px;
  }
}

.gallery-text-wrapper {
  @include media(desktop) {
    max-width: 418px;
  }
}

.gallery-title {
  @include media(desktop) {
  }
}

.gallery-swiper-bg-wrapper {
  @include media(desktop) {
    max-width: 862px;
  }
}

.gallery-swiper-container {
  max-width: 303px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 862px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
  }
}

.gallery-slide {
  width: 100%;
  max-width: 303px;

  @include media(desktop) {
  }
}

.gallery-img {
  @include media(desktop) {
  }
}

.gallery-progress {
  margin-top: 32px;
  display: flex;
  justify-content: center;

  @include media(desktop) {
  }
}

.gallery-progress-line {
  background: #3ed6e0;
  width: 100%;
  max-width: 343px;
  height: 2px;
  cursor: pointer;
  position: relative;

  @include media(desktop) {
    max-width: 862px;
  }
}

.gallery-progress-dot {
  background: #3ed6e0;
  border-radius: 50px;
  width: 78px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: transform 0.2s ease;
  cursor: grab;

  @include media(desktop) {
  }
}

.gallery-progress-dot:active {
  cursor: grabbing;

  @include media(desktop) {
  }
}
