.context-menu {
  background: #000;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 5;
}

.context-container {
  padding: 0 32px;
}

.context-nav {
  display: flex;
  align-items: center;
  margin-top: 84px;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.context-list-link {
  border: 1px solid transparent;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-transform: capitalize;
  text-align: center;
  color: #d1d1d1;
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:active {
    border-color: #d1d1d1;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
