<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <div class="experience-top-content-wrapper">
        <div class="section-title-wrapper experience-title-wrapper">
          <h2 class="section-title">Core Experience</h2>
          <div class="section-line"></div>
        </div>
        <p class="experience-text">
          <span class="experience-orange-span">
            Luma Drift places the player inside a constantly moving abstract
            environment.</span
          >
          Instead of objectives or levels, the game responds to how smoothly and
          thoughtfully the player guides light streams through space.
          <span class="experience-turquoise-span"
            >The focus is not on winning — it’s on maintaining flow.
          </span>
        </p>
      </div>
      <div class="experience-bottom-content-wrapper">
        <div class="experience-bottom-text-wrapper">
          <div class="section-title-wrapper experience-title-wrapper">
            <h2 class="section-title experience-title">The Experience</h2>
            <div class="section-line"></div>
          </div>
          <p class="section-subtitle">
            This is not a game about speed or precision.
          </p>
          <p class="experience-bottom-text experience-bottom-top-text">
            Luma Drift encourages players to slow down and pay attention to
            motion, rhythm, and visual feedback.
          </p>
          <p class="experience-bottom-text">
            Touch something and watch the colors bloom outward, hear the tones
            shift - no two sessions ever look or sound exactly the same.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/experience/experience-img-desk.png"
            media="(min-width: 1440px)"
            width="528"
            height="303" />
          <source
            srcset="./img/experience/experience-img-mob.png"
            width="343"
            height="186" />
          <img
            class="experience-img"
            src="./img/experience/experience-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="186"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
