<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <div class="section-title-wrapper faq-title-wrapper">
          <h2 class="section-title">FAQ</h2>
          <div class="section-line"></div>
        </div>
        <p class="section-subtitle faq-subtitle">
          We wanted it to feel alive and responsive, but never chaotic or
          stressful.
        </p>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is Luma Drift a rhythm game?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Kind of, but there's no metronome beating in your ear - the rhythm
              emerges naturally as you play.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I fail or lose progress?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">No. There are no failure states.</p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is it suitable for short sessions?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes. Even a few minutes create a complete experience.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Does the game have levels?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              There aren't really 'levels' - it's more like the experience
              gradually unfolds the longer you spend with it.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is this game competitive?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-arrow"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              No. It is designed purely for personal experience.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
